* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box {
    border: 1px solid red;

    background-image: url(./img/dog.webp);
    background-repeat: no-repeat; /* изображение не будет повторяться */
    background-size: cover; /* фоновое изображение масштабируется так, чтобы полностью покрыть область элемента. При этом изображение сохраняет свои пропорции (соотношение сторон), что может привести к тому, что некоторые части изображения будут обрезаны, если пропорции изображения и элемента не совпадают */
    background-position: center; /* картинка располагается по центру */
    
    min-height: 600px; /* обязательно должна быть высота */
    width: 100%;
}

.wrap {
    width: 100%;
    display: grid; /* контейнер сетки (grid container), что позволяет использовать свойства CSS Grid для организации его дочерних элементов */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* repeat(auto-fit, ...): Использует функцию repeat, которая повторяет шаблон столбцов. auto-fit означает, что сетка будет автоматически подстраиваться под доступное пространство, добавляя или удаляя столбцы по мере необходимости.
    minmax(320px, 1fr): Устанавливает минимальный и максимальный размеры для каждого столбца. Минимальная ширина столбца — 320 пикселей, а максимальная — 1 часть доступного пространства (fractional unit, fr). */
    /* grid-auto-rows: 250px;Устанавливает высоту строк в сетке. Каждая строка будет иметь фиксированную высоту 250 пикселей */
    gap: 10px;
}

.img-box {
    position: relative;
    padding-top: 56.25%; /* эквивалентен aspect-ratio 1 / 1 */
}

.img-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* используется для настройки способа масштабирования и отображения содержимого заменяемых элементов, таких как <img> или <video>. Когда применяется значение cover, содержимое элемента масштабируется, чтобы заполнить контейнер, сохраняя при этом свои пропорции. Это может привести к обрезке части содержимого, чтобы оно полностью вписывалось в контейнер */

    /* aspect-ratio: 16 / 9; используется для установки соотношения сторон элемента. Значение 1 / 1 задает элементу квадратную форму, так как отношение ширины к высоте составляет 1 к 1. Это свойство полезно для обеспечения того, чтобы элемент сохранял определенное соотношение сторон независимо от его размеров */
}