.some_elem {
    background-color: rgb(69, 206, 176);
/*     height: 200px; высота */ 
    min-height: 200px; /* устанавливает минимальную высоту элемента. Оно предотвращает используемое значение свойства height от становления меньше, чем значение, указанное для min-height  */
    width: 100%; /* ширина */ /* ширина элемента будет равна 100% ширины родительского элемента */
    min-width: 200px; /* Элемент не будет сжиматься меньше 200 пикселей, даже если ширина его родительского контейнера меньше */
    max-width: 500px; /* Элемент не будет растягиваться больше 500 пикселей, даже если ширина его родительского контейнера больше */

}

.ex {
    background-color: red;
    width: 500px;
    height: 600px; /* в большинстве случаев высота не задаётся */


}

/* горизонтального скролла никогда не должно быть!!! */