/* =================== Общие стили =================== */

* {
    margin: 0; /* внешние отступы */
    padding: 0; /* внутренние отступы */
    box-sizing: border-box; /* границы и внутренние отступы теперь не увеличивают размер элементов */
}

body {
    letter-spacing: 0.01em; /* межбуквенное расстояние */
    font-family: "Rubik", sans-serif; /* sans-serif - fallback - любой шрифт без засечек */
    font-weight: 400;
    min-width: 375px;
}

ul {
    list-style: none; /* тип маркера */
}

section {
    background: #eff2f9; /* цвет фона */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 1170px;
    min-height: 800px;
    padding: 60px 0 70px;
    box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25); /* тень, значения: сдвиг-x | сдвиг-y | размытие | растяжение | цвет */
    background: #fff;
    padding: 60px 0 70px; /* внутренние отступы - сверху | по бокам | снизу */
    display: flex; /* значение по умолчанию */
}

/* =================== Cтили для левой части =================== */

.product_img-block {
    border-right: 2px solid rgba(20, 20, 20, 0.15); /* значения - толщина | тип | цвет  */
    min-width: 540px;
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
}

.main_img-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_preview-wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
    /* border: 1px solid; */
}

.preview {
    width: 80px;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    transition: .2s;
    cursor: pointer; /* ставим только на класс с элементом на hover ставить не нужно */
}

.selected,
.preview:hover {
    box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
}

/* =================== Cтили для правой части =================== */

.product_info-block {
    padding: 0 60px; /* внутренний отступ, значения: верх+низ | лево+право */
    /* border: 3px solid green; */
}

.main_title {
    font-family: "Montserrat", sans-serif; /* семейство шрифтов */
    font-weight: 700; /* толщина (жирность) */
    font-size: 38px; /* размер шрифта */
    color: rgba(20, 20, 20, 0.9); /* цвет текста */
    margin-bottom: 5px;
}

.subtitle {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: rgba(20, 20, 20, 0.4);
}

.text {
    font-size: 18px;
    line-height: 1.6;
    color: rgba(20, 20, 20, 0.7);
    margin: 60px 0 65px;
}

.title {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 20px;
}

.colors {
    margin-bottom: 65px;
}

.color-items {
    display: flex;
    align-items: center;
    gap: 40px;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%; /* скругление углов чтобы сделать из квадрата круг */
    background-color: #013c7d;
    box-shadow: 2px 2px 4px 0 rgba(81, 91, 117, 0.25);
}

.blue {
    background-color: #013c7d;;
}

.green {
    background-color: #63cba7;
}

.red {
    background-color: #d52f29;
}

.black {
    background-color: #141414;
}

.yellow {
    background-color: #f2c723;
}

.color-items > li {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    fill: #fff;
    padding: 7px;
    cursor: pointer;
    transition: .2s;
}

.color-items > li:hover,
.color-items > li.selected {
    box-shadow: 2px 2px 6px 0 rgba(81, 91, 117, 0.25);
}

.wrapper {
    display: flex;
}

.wrapper > div { /* задаём параметры которые относятся ко всем div находящимся в wrapper */
    flex-grow: 1;
}

.quantity {
    /* стили для текста выпадающего списка */
    width: 80px; /* ширина выпадающего списка */
    border: none; /* убираем границу */
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);

    /* устанавливаем свою стрелку */
    appearance: none; /* убираем стрелку, которую браузер отображает по умолчанию */
    background-image: url(./assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
}

.price {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);
}

.btn {
    /* свойства для формы и текста внетри кнопки */
    width: 100%;
    height: 70px;
    background: #141414;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-top: 75px;
    cursor: pointer;
    transition: .2s;
}


.btn:hover {
    transform: translateY(-10px);
}

/* =================== Адаптив для планшетов =================== */

@media screen and (max-width: 1440px) { /* медиа запросы перезаписывают стили и пишутся в конце */
    .card {
        flex-direction: column;
        margin: 40px;
    }

    .product_img-block {
        border-right: none;
        border-bottom: 2px solid rgba(20, 20, 20, 0.15);
}

.product_preview-wrapper {
    margin: 60px 0 70px;
}

.product_info-block {
    padding: 60px 60px 0;
}

}

/* =================== Адаптив для мобилок =================== */

@media screen and (max-width: 576px) {
    .card {
        margin: 15px 15px 40px;
        padding-bottom: 60px;
    }

    .product_img-block {
        min-width: auto;
    }

    .main_img-wrapper img {
        width: 250px;
    }

    .main_title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 14px;
    }

    .text {
        margin: 50px 0 55px;
        font-size: 16px;
    }

    .product_info-block {
        padding: 60px 20px 0;
    }

    .btn {
        margin-top: 65px;
    }
}